    header{
        font-family: 'Merriweather', serif;
    }
    
    main{
        font-family: 'Raleway', sans-serif;
    }

    body{
        background-color: #eee;
    }

/* Slide recherche avancée */
    .panel {
        padding-top: 20px;
        padding-bottom: 20px;
        background: #FFF;
        display: none;
    }

    .slide{
        padding-top: 10px;
        text-align: center;
    } 

    .slide a{
        color: black;
    }

    .slide a:hover{
        text-decoration: none;
    }


    .pull-me p {
    text-align: center;
    }

    .ombre {
        box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.19);
    }

/* Formulaire slide recherche avancée */

    main .form-control{
        background-color: rgba(238, 238, 238, 0.3);
        border:none;
        border-bottom: #aaa solid 1px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 0;
    }


   main .btn{
      border-radius: 0;
      margin:0 auto;
      display:block;
  }

  main .container .form-inline{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }

/* Navbar */

/* Liste */

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    
    
    width: 200px;
    height: 150px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

    border: 1px white solid;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 200px 150px;
  }


  .bandeau-champignon{
      background-color: rgba(0,0,0,0.5);
      height: 50px;

  }

  .nom-champignon{
      font-size: 14px;
      text-align: left;
      
  }
